/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header--transparent {
    padding: 10px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: height 0.3s ease, background-color 0.3s ease;
    height: 130px;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &.scrolled {
        height: 90px; 
        background-color: rgba(255, 255, 255, 0.95);
    }

    @include mq($md) {
        height: 90px;

        &.scrolled {
            height: 70px;
        }
    }
}

.site-header--default {
    padding: 10px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid transparent;
    transition: height 0.3s ease, background-color 0.3s ease;
    height: 130px;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &.scrolled {
        height: 90px; 
        background-color: rgba(255, 255, 255, 0.95);
    }

    @include mq($md) {
        height: 90px;

        &.scrolled {
            height: 70px;
        }
    }
}

.site-header__branding--mobile {
    display: none;

    @include mq($md) {
        display: block;

        .site-header__logo {
            display: flex;
            justify-content: center;
            max-width: 100%;

            img {
                width: 150px;
                margin: 0 auto 40px;
            }
        }
    }
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    .wpml-ls {
        display: none;

        @include mq($md) {
            display: block;
            margin: 0 auto;
            text-align: center;

            li {
                margin-bottom: 15px;
            }
        }
    }
}

.site-header-custom-lang-switch {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: $dur $ease;

    .circle {
        width: 30px;
        height: 30px;
        border: 2px solid $zeus;
        border-radius: 50%;
        display: inline-block;
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid $zeus;
            width: 30px;
            height: 13px;
            border-radius: 50%;
        }

        &::before {
            width: 13px;
            height: 30px;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }

    .font-down {
        font-size: 24px;
        transition: $dur $ease;
        display: inline-block;
    }

    .wpml-ls {
        position: absolute;
        top: 300%;
        right: 0;
        width: 100%;
        min-width: 220px;
        padding: 15px 10px;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        height: 0;
        max-height: 118px;
        transition: $dur $ease;

        ul {
            li {
                text-align: left;
                
                a {
                    padding: 7px 10px;
                }
            }
        }
    }

    &.active {
        overflow: visible;

        .font-down {
            transform: rotate(180deg);
        }

        .wpml-ls {
            opacity: 1;
            visibility: visible;
            height: 100%;
            top: 100%;
        }
    }

    &.mobile {
        display: none;

        @include mq($md) {
            display: block;
            position: absolute;
            bottom: -200%;
            left: 0;
            width: 100%;

            ul {
                display: flex;
                align-items: center;
            }

            &.is-active {
                bottom: 0;
            }
        }
    }

    &.desktop {
        display: flex;

        @include mq($md) {
            display: none;
        }
    }
}

.site-header__logo {
    display: block;
    max-width: 150px;
    width: 100%;

    img {
        width: 74%;
    }

    @include mq($sm + 1, min) {
        max-width: 180px;
    }

    @include mq($lg + 1, min) {
        max-width: 222px;
    }
}

.site-header__logo-img {
    transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease;
    opacity: 1;
    transform: scale(1);
    width: 150px;
    will-change: transform, opacity, width;

    
}

.site-header.scrolled .site-header__logo-img {
    width: 90px;

    @include mq($md) {
        width: 70px;
    }
}
