.accordion {
    padding: 50px 0;

    .section-head {
        text-align: center;
    }

    .section-head__title {
        color: $deep-teal;
        margin-bottom: 30px;
    }

    @include mq($md) {
        padding: 25px 0;
    }
}

.accordion__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.accordion-item {
    border-bottom: 1px solid $gainsboro;
}

.accordion-item__title {
    background-color: $white;
    padding: 40px 20px;
    font-family: $font-main;
    @include clamp-font-size(22, 30);
    line-height: 1.2;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &::after {
        @include font-styles;
        content: font-char(down);
    }

    &.active::after {
        transform: rotate(180deg);
    }

    @include mq($md) {
        padding: 23px 0;
    }
}

.accordion-item__text {
    padding: 0 20px;
    background-color: $white;
    max-width: 1017px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    @include clamp-font-size(14, 16);
	font-family: $font-second;

    @include mq($tablet) {
        max-width: 874px;
    }

    @include mq($md) {
        max-width: 90%;
        padding: 0;
    }
}

.accordion-item__text.active {
    max-height: 500px;
    padding-bottom: 40px;
    opacity: 1;
}