.feature-sec {
    padding: 150px 0;

    .section-head__title {
        color: $deep-teal;
        text-align: center;
        margin-bottom: 40px;
    }

    @include mq($tablet) {
        padding: 100px 0;
    }

    @include mq($md) {
        padding: 50px 0;
    }
}

.feature-sec__container {
    display: flex;
    justify-content: space-between;
    grid-gap: 40px;
    margin-bottom: 40px;

    @include mq($lg) {
        flex-direction: column;
        grid-gap: 20px;
    }
}

.feature-sec__item {
    p {
        margin-bottom: 30px;
        @include clamp-font-size(14, 16);
    }

    img {
        border-radius: 40px;
    }

    .lottie-animation {
        width: 100%;
        max-width: 362px; // Prilagodite širinu animacije prema dizajnu
        height: auto;
        margin: 0 auto;
    }

    @include mq($tablet) {
        p {
            margin-bottom: 20px;
        }
    }

    @include mq($md) {
        img {
            border-radius: 20px;
        }
    }
}

.feature-sec__btn {
    text-align: center;
}
